!!! 5
html
	head
		title LaTeX2Unicode
		link(type='text/css' rel='stylesheet' href='http://fonts.googleapis.com/css?family=Droid+Sans+Mono|Droid+Serif')
		link(type='text/css' rel='stylesheet' href='/css/index.css')
		script(type="text/javascript" src="/js/jquery-1.7.1.min.js")
		script(type="text/javascript" src="/js/jquery.autoresize.min.js")		
		script(type="text/javascript" src="/js/index.js")		
	body
		a(href="https://github.com/tomtung/latex2unicode")
		h1 Latex2Unicode
		h2
			| Translate LaTeX markup to human-readable Unicode.
			a(href="https://github.com/tomtung/latex2unicode/blob/master/README.md" target="_blank") [Details]
		hr/

		textarea#tex
			~~ "This program translates LaTeX markup to \nhuman-readable Unicode when possible.\n\nBasic math notations:\\\\\n\\because \\t{AB} + \\t{BC} \\neq \\t{AC}\n\\therefore \\iint\\sqrt[4] x \\xi^{\\theta+1} \n- \\frac 38 \\le \\Sigma \\zeta_i \n\\therefore \\exists{x}\\forall{y} x \\in \\^A\n\nEasily type in hundreds of other symbols\nand special characters: \\spadesuit, \\aleph,\n\\OE, \\downdownarrows, etc.\n\nFont styles support: \\textbb{Black\nBoard Bold}, \\textfrak{Fraktur}, {\\bf\nBold Face}, {\\cal Calligraphic}, {\\it Italic},\n{\\tt Monospace}."
		#result